@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500&display=swap");
@import url('https://fonts.cdnfonts.com/css/satoshi');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:root {
  --Color-outline-outline: #D6DADE;
  --sds-size-stroke-border: 0.8; /* Example value, replace with actual value */
  --Color-text-text-secondary: #646D80;
  --Color-text-text-primary: #1B243F;
  --marquee-width: 130vh;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.custom-border {
  border: 1px solid var(--Color-outline-outline, #D6DADE);
}

.custom-opacity {
  opacity: var(--sds-size-stroke-border);
}


.custom-text-color {
  color: var(--Color-text-text-primary, #1B243F);
}

.custom-font-family {
  font-family: 'Gelasio', serif;
}


.custom-text-color-01 {
  color: var(--Color-text-text-secondary, #646D80);
}

.custom-font-family-01 {
  font-family: 'Satoshi', sans-serif;
                                                
}


/* Additional styles for screens wider than 430px */

/* styles.css */



.custom-input {
  font-size: 14px;
  background-color: transparent;
  width: 100%;
  height: 46px;
  border-radius: 0.375rem; /* 6px */
  padding-left: 16px;
  padding-right: 140px;
  outline: none;
  border-width: 2px;
  border-color: #D6DADE;
}

.custom-input:focus {
  border-color: #D6DADE;
  box-shadow: none;
}

.custom-input:active {
  background-color: transparent;
}


.custom-button {
  position: absolute;
  right: 0.5rem; /* equivalent to right-2 in Tailwind */
  top: 50%;
  transform: translateY(-50%); /* equivalent to -translate-y-1/2 in Tailwind */
  background-color: #1B243F; /* background color */
  color: white; /* text color */
  border-radius: 0.375rem; /* equivalent to rounded-md in Tailwind */
  width: 115px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; /* equivalent to gap-2 in Tailwind */
  cursor: pointer; /* Default cursor for clickable button */
  margin-right: -3px;
}

.custom-button:focus {
  outline: none;
}



.image {
  height: 1.25rem; /* equivalent to h-5 in Tailwind */
  width: 1.25rem; /* equivalent to w-5 in Tailwind */
  position: relative; /* equivalent to relative */
  overflow: hidden; /* equivalent to overflow-hidden */
  flex-shrink: 0; /* equivalent to shrink-0 */
  transition: transform 300ms ease-in-out; /* equivalent to transition-transform duration-300 ease-in-out */
  transform: translateX(0);
}

.image:hover {
  transform: translateX(0.125rem); /* translate-x-0.5 */
}

