@import url('https://fonts.googleapis.com/css?family=Montserrat');



.marquee {
  width: 70vw;
  height: 42px;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #ffffff 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #ffffff00 0%, transparent 100%);
}
.marqueeContent {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
  gap: 2px;
}
@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
  }
.marqueeContent li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  /* font-size: calc(var(--marquee-height)*3/4); */
  /* white-space: nowrap; */
}

.marqueeContent li img {
  /* width: 35%; */
}


